/* ==========================================================================
    BTN
   ========================================================================== */
.btn {
	background-color: #a18839;
	border-color: #a18839;
}

.btn:hover {
	background-color: #27324c;
	border-color: #27324c;
}

.refined-search-btn-list.btn {
	background-color: hsla(0,0%,85%,.33);
	border-color: hsla(0,0%,85%,.33);
}
