/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */
a {
	text-decoration: underline;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}

}

.top-header,
.sitemap {
    a {
        text-decoration: none;
    }
}

.hyp-print-preview {
	display: none;
}

h1,
h2,
h3,
h4 {
	text-transform: none;
}

h3.homepage {
	color: #aaa;
	font-size: 2.4em;
}
