/* ==========================================================================
    CENTER
   ========================================================================== */
.center {
	max-width: 1186px;

	@include media-desktop {
		padding-left: 3%;
		padding-right: 3%;
	}
}
