/* ==========================================================================
    BREADCRUMBS
   ========================================================================== */
.breadcrumbs .hyp {
	color: #a18839;
}

.breadcrumbs li:last-child .hyp {
	color: #20324e;
}

.breadcrumbs li.arrow-red {
	&:before {
		color: #20324e;
	}
}
