/* ==========================================================================
    IMAGE SLIDER
   ========================================================================== */
.image-slider {
	h2 {
		font-size: 60px;
		line-height: 1.1;
		text-transform: none;
		font-weight: 300;
	}
}
