/* ==========================================================================
    SUGGEST IMG
   ========================================================================== */
.suggest-img {
	width: 80px;
	height: 80px;
}

.suggest-img img {
	width: 85px;
	height: 85px;
}
