<footer>
	<div class="center">
		<div class="columns-general top">

			<div class="column sitemap">
				<span class="font-h4">Mapa stránek</span>
				<ul class="sitemap-nav" >
					<li>
						<a class="hyp" href="/cs-cz/zdroje">Z&#225;kaznick&#253; servis</a>
						<ul>
							<li>
								<a class="hyp" href="/cs-cz/contact-us">Kontaktujte n&#225;s</a>
							</li>
							<li>
								<a class="hyp" href="/cs-cz/informace_o_doruceni">Informace o doručen&#237;</a>
							</li>
							<li>
								<a class="hyp" href="/cs-cz/obchodni_podminky">Obchodn&#237; podm&#237;nky</a>
							</li>
							<li>
								<a class="hyp" href="/cs-cz/ochrana_osobnich_udaju">Ochrana osobn&#237;ch &#250;dajů</a>
							</li>
						</ul>

					</li>
					<li>
						<a class="hyp" href="/cs-cz/o-spolecnosti" target="_blank">O n&#225;s</a>
						<ul>
							<li>
								<a class="hyp" href="/cs-cz/o-spolecnosti">O společnosti</a>
							</li>
							<li>
								<a class="hyp" href="/cs-cz/historie">Historie</a>
							</li>
							<li>
								<a class="hyp" href="/cs-cz/vyroba">V&#253;roba</a>
							</li>
							<li>
								<a class="hyp" href="certification">Certifikace</a>
							</li>
							<li>
								<a class="hyp" href="job_opportunities">Voln&#233; pozice</a>
							</li>
						</ul>

					</li>
					<li>
						<a class="hyp" href="">Přečtěte si</a>
						<ul>
							<li>
								<a class="hyp" href="/cs-cz/inframe_magazín">InFrame magaz&#237;n</a>
							</li>
						</ul>

					</li>
				</ul>

			</div>





			<div class="column newsletter">
				<form action="/cs-cz/newsletter/subscribe" method="post" novalidate>
					<input name="__RequestVerificationToken" type="hidden" value="rw_1hk26Kn3UMhz2bZ7UsKXqz7JfHgWljjMerM-yteZR2XdmMiQrUn3HcfxgRDCxm9Do58DWHQcQGaq3qvN5JQmWqhU1" />
					<span class="font-h4">Sledujte nás na sociálních sítích</span>
					<div><div align="center"><a href="https://www.facebook.com/LarsonJuhlCZ" rel="noopener noreferrer" target="_blank"><img src="https://larson-juhl-europe-beta.sanastores.net//content/files/images/CZ/Icons/FB.png " style="width: 42px; height: 42px;" class="fr-fic fr-dii fr-fil"><noscript><img src="https://larson-juhl-europe-beta.sanastores.net//content/files/images/CZ/Icons/FB.png " style="width: 42px; height: 42px;" class="fr-fic fr-dii fr-fil"></noscript></a>
							<a href="https://www.instagram.com/larsonjuhlcz/" rel="noopener noreferrer" target="_blank"><img src="https://larson-juhl-europe-beta.sanastores.net//content/files/images/CZ/Icons/Instagram_icon_138461.png " style="width: 40px; height: 40px;" class="fr-fic fr-dii fr-fil"><noscript><img src="https://larson-juhl-europe-beta.sanastores.net//content/files/images/CZ/Icons/Instagram_icon_138461.png " style="width: 40px; height: 40px;" class="fr-fic fr-dii fr-fil"></noscript></a>
							<a href="https://www.youtube.com/results?search_query=larson+juhl+inspiration" rel="noopener noreferrer" target="_blank"><img src="https://larson-juhl-europe-beta.sanastores.net//content/files/images/CZ/Icons/youtube.png " style="width: 42px; height: 42px;" class="fr-fic fr-dii fr-fil"><noscript><img src="https://larson-juhl-europe-beta.sanastores.net//content/files/images/CZ/Icons/youtube.png " style="width: 42px; height: 42px;" class="fr-fic fr-dii fr-fil"></noscript></a>
							<a href="https://cz.pinterest.com/larsonjuhl/_created/" rel="noopener noreferrer" target="_blank"><img src="https://larson-juhl-europe-beta.sanastores.net//content/files/images/CZ/Icons/pinterest2.png" style="width: 38px; height: 38px;" class="fr-fic fr-dii fr-fil"><noscript><img src="https://larson-juhl-europe-beta.sanastores.net//content/files/images/CZ/Icons/pinterest2.png" style="width: 38px; height: 38px;" class="fr-fic fr-dii fr-fil"></noscript></a></div></div>
					<ul class="newsletter-line">
						<li>
							<div class="tbx tbx-email-newsletter">
								<input type="email" name="Email" id="newsletterEmail" maxlength="80" placeholder="E-mail" />
							</div>
						</li>
						<li>
							<button class="btn" title="Přihlásit se" type="submit">
								<span class="btn-cnt">Přihlásit se</span>
							</button>

						</li>
					</ul>
				</form>
			</div>

		</div>
		<div class="columns-general bottom">

			<div class="column copyright">
				© Copyright 2022 Larson-Juhl Europe. Všechna práva vyhrazena.
			</div>


		</div>
	</div>
</footer>
