<header class="nav-is-closed">
	<div class="header-blocks-wrapper">
		<div class="top-header">
			<div class="top-info phone-icon font-smaller">
				Máte dotazy? Zavolejte nám  +420 380 773 611
			</div>

			<div class="top-action">
				<div class="top-dropdown language">
					<div class="opener collapsed">
						<img src="../images/languages/1029.gif" title="Čeština (Česko)" alt="Čeština (Česko)" class="flag" /><span class="selected-language">Jazyk: Čeština (Česko)</span>
					</div>
					<div class="summary">
						<a href="/cs-cz/technika/řezače-nože/" class="hyp" hreflang="cs" >
							<img src="../images/languages/1029.gif" alt="Čeština (Česko)" class="flag" />Čeština (Česko)
						</a>
						<a href="/de-de/technika-1/řezače-nože/" class="hyp" hreflang="de" rel=alternate>
							<img src="../images/languages/1031.gif" alt="Deutsch (Deutschland)" class="flag" />Deutsch (Deutschland)
						</a>
						<a href="/en-gb/sundries/framers-guns/" class="hyp" hreflang="en" rel=alternate>
							<img src="../images/languages/2057.gif" alt="English (United Kingdom)" class="flag" />English (United Kingdom)
						</a>
						<a href="/fr-fr/technika-3/řezače-nože/" class="hyp" hreflang="fr" rel=alternate>
							<img src="../images/languages/1036.gif" alt="Fran&#231;ais (France)" class="flag" />Fran&#231;ais (France)
						</a>
					</div>
				</div>


				<a href="/cs-cz/zakaznickapodpora" class="top-hyp font-smaller">Zákaznická podpora</a>

				<a href="/cs-cz/profile/login?returnurl=https%3a%2f%2flarson-juhl-europe-beta.sanastores.net%2fcs-cz%2ftechnika%2f%c5%99eza%c4%8de-no%c5%bee%2f" class="top-hyp font-smaller">Přihlášení</a>
				<div class="top-dropdown login">
					<div class="opener collapsed">
						<span class="login-title">Účet</span>
					</div>
					<div class="summary">
						<a href="/cs-cz/profile/login?returnurl=https%3a%2f%2flarson-juhl-europe-beta.sanastores.net%2fcs-cz%2ftechnika%2f%c5%99eza%c4%8de-no%c5%bee%2f" class="hyp">Přihlášení</a>


					</div>
				</div>
			</div>
		</div>
		<div class="middle-header">

			<div class="logo">
				<a href="/cs-cz/">
					<img src="../images/LJ_Logo_2020-black.png" alt="Obrázek loga" />
				</a>
			</div>


			<div class="search">
				<div class="search-wrapper ui-front">
					<form action="/cs-cz/extendedsearch" method="get">            <div class="tbx tbx-main-search">
							<input data-src="/cs-cz/productlist/searchsuggestions" id="searchbox" maxlength="50" name="q" placeholder="Jméno nebo číslo produktu:" type="search" value="" />
						</div>
						<button class="btn no-caption btn-search" title="Vyhledat produkty" type="submit">
							<span class="btn-cnt">Vyhledat</span>
						</button>
					</form>    </div>
			</div>


			<div class="basket" data-src="/cs-cz/basket/summary">

			</div>

		</div>
		<div class="bottom-header">
			<div class="center">
				<div class="nav-opener-wrapper">
					<div class="nav-opener"></div>
				</div>

				<nav class="nav-main nav-type-simple clearfix">
					<div class="nav-list-wrapper">
						<ul class="nav-list nav-list-root" >
							<li class="nav-item nav-item-root">
								<a href="/cs-cz/mouldings-1/" class="hyp-top-lvl has-children"
								   data-tracking-data="null"
								>
									<span>Lišty</span>
								</a>
								<ul class="nav-list nav-list-sub">
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/mouldings/larson-juhl-signature/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Larson-Juhl Signature</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/lišty/larson-juhl-essentials/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Larson-Juhl Collections</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/lišty/larson-juhl-signature/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Larson-Juhl Essentials</span>
										</a>

									</li>
								</ul>

							</li>
							<li class="nav-item nav-item-root">
								<a href="/cs-cz/frames-1/" class="hyp-top-lvl has-children"
								   data-tracking-data="null"
								>
									<span>R&#225;my</span>
								</a>
								<ul class="nav-list nav-list-sub">
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/frames-1/larson-juhl-collection/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Larson-Juhl Collection</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/ready-made-frames/barth/" class="hyp arrow-grey has-children"
										   data-tracking-data="null"
										>
											<span>BARTH</span>
										</a>
										<ul class="nav-list nav-list-sub">
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/ready-made-frames/barth/alu-ready-mades-barth/" class="hyp arrow-grey has-children"
												   data-tracking-data="null"
												>
													<span>Alu ready mades BARTH</span>
												</a>
												<ul class="nav-list nav-list-sub">
													<li class="nav-item nav-item-sub">
														<a href="/cs-cz/ready-made-frames/barth/alu-ready-mades-barth/alu-ready-mades-barth-float-glass/" class="hyp arrow-grey"
														   data-tracking-data="null"
														>
															<span>Alu ready mades BARTH / float glass</span>
														</a>

													</li>
													<li class="nav-item nav-item-sub">
														<a href="/cs-cz/ready-made-frames/barth/alu-ready-mades-barth/alu-ready-mades-barth-clarity-glass/" class="hyp arrow-grey"
														   data-tracking-data="null"
														>
															<span>Alu ready mades BARTH / Clarity glass</span>
														</a>

													</li>
												</ul>

											</li>
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/ready-made-frames/barth/wood-ready-mades-barth/" class="hyp arrow-grey has-children"
												   data-tracking-data="null"
												>
													<span>Wood ready mades BARTH</span>
												</a>
												<ul class="nav-list nav-list-sub">
													<li class="nav-item nav-item-sub">
														<a href="/cs-cz/ready-made-frames/barth/wood-ready-mades-barth/wood-ready-mades-barth-float-glass/" class="hyp arrow-grey"
														   data-tracking-data="null"
														>
															<span>Wood ready mades Barth / float glass</span>
														</a>

													</li>
													<li class="nav-item nav-item-sub">
														<a href="/cs-cz/ready-made-frames/barth/wood-ready-mades-barth/wood-ready-mades-barth-clarity-glass/" class="hyp arrow-grey"
														   data-tracking-data="null"
														>
															<span>Wood ready mades Barth / Clarity glass</span>
														</a>

													</li>
												</ul>

											</li>
										</ul>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/frames-1/signature-frames/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Signature frames</span>
										</a>

									</li>
								</ul>

							</li>
							<li class="nav-item nav-item-root">
								<a href="/cs-cz/pasparty/" class="hyp-top-lvl has-children"
								   data-tracking-data="null"
								>
									<span>Pasparty</span>
								</a>
								<ul class="nav-list nav-list-sub">
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/arqadia-kr&#233;mov&#253;-řez/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Arqadia - kr&#233;mov&#253; řez</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/samet-cardboard-sametov&#233;/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Sametov&#233;</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/pevnejadro/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Solid core - pevn&#233; j&#225;dro</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/bilyrez/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Muse&#225;ln&#237; standard</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/white-core-b&#237;l&#253;-řez/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>White core - b&#237;l&#253; řez</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/arqadia-konzervačn&#237;/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Arqadia - conservation</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/artique1,4mm/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Artique (1,4mm)</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/artique-3-mm/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Artique (3 mm)</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/black-core-čern&#253;-řez/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Black core - čern&#253; řez</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/cloth-cardboard-l&#225;tkov&#233;/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>L&#225;tkov&#233;</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/color-core-barevn&#253;-řez/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Color core - barevn&#253; řez</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/pasparty/museum-cardboard-muse&#225;ln&#237;/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Muse&#225;ln&#237;</span>
										</a>

									</li>
								</ul>

							</li>
							<li class="nav-item nav-item-root">
								<a href="/cs-cz/sklo/" class="hyp-top-lvl has-children"
								   data-tracking-data="null"
								>
									<span>Sklo</span>
								</a>
								<ul class="nav-list nav-list-sub">
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/sklo/clarity-by-larson-juhl/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>&#174;Clarity by Larson Juhl</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/sklo/acrylic/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Acrylic</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/sklo/polystyrolglas/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Polystyrolglas&#174;</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/sklo/tegla/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>TEGLA&#174;</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/sklo/truvue/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>TruVue&#174;</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/sklo/floatglas/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Floatov&#233; sklo</span>
										</a>

									</li>
								</ul>

							</li>
							<li class="nav-item nav-item-root">
								<a href="/cs-cz/technika/" class="hyp-top-lvl has-children"
								   data-tracking-data="null"
								>
									<span>R&#225;mařsk&#225; technika</span>
								</a>
								<ul class="nav-list nav-list-sub">
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/technika/věš&#225;čky-h&#225;čky-lanka/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Věš&#225;čky, h&#225;čky, lanka</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/technika/řezače-nože/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Řezače, nože</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/technika/spony/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Spony</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/technika/sponkovačky-př&#237;slušenstv&#237;/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Sponkovačky - př&#237;slušenstv&#237;</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/technika/r&#225;mařsk&#233;-pistole-kleště/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>R&#225;mařsk&#233; pistole, kleště</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/technika/kov&#225;n&#237;-pro-hlin&#237;kov&#233;-lišty/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Kov&#225;n&#237; pro hlin&#237;kov&#233; lišty</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/technika/pily/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Pily</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/technika/sekačky/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Sekačky</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/technika/ostatn&#237;/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Ostatn&#237;</span>
										</a>

									</li>
								</ul>

							</li>
							<li class="nav-item nav-item-root">
								<a href="/cs-cz/dalš&#237;/" class="hyp-top-lvl has-children"
								   data-tracking-data="null"
								>
									<span>Ostatn&#237;</span>
								</a>
								<ul class="nav-list nav-list-sub">
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/dalš&#237;/foamboardy/" class="hyp arrow-grey has-children"
										   data-tracking-data="null"
										>
											<span>Foamboardy</span>
										</a>
										<ul class="nav-list nav-list-sub">
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/foamboardy/deskov&#233;-materi&#225;ly/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Deskov&#233; materi&#225;ly</span>
												</a>

											</li>
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/foamboardy/foamboardy/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Foamboardy</span>
												</a>

											</li>
										</ul>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/dalš&#237;/nap&#237;nac&#237;-r&#225;my/" class="hyp arrow-grey has-children"
										   data-tracking-data="null"
										>
											<span>Nap&#237;nac&#237; r&#225;my</span>
										</a>
										<ul class="nav-list nav-list-sub">
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/nap&#237;nac&#237;-r&#225;my/metr&#225;ž/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Metr&#225;ž</span>
												</a>

											</li>
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/nap&#237;nac&#237;-r&#225;my/př&#237;čky/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Př&#237;čky</span>
												</a>

											</li>
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/nap&#237;nac&#237;-r&#225;my/ramena-profil-1946/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Ramena profil 1946</span>
												</a>

											</li>
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/nap&#237;nac&#237;-r&#225;my/ramena-profil-3845/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Ramena profil 3845</span>
												</a>

											</li>
										</ul>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/dalš&#237;/newly/" class="hyp arrow-grey has-children"
										   data-tracking-data="null"
										>
											<span>Newly</span>
										</a>
										<ul class="nav-list nav-list-sub">
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/newly/newly-r10/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Newly&#174; R10</span>
												</a>

											</li>
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/newly/newly-r20/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Newly&#174; R20</span>
												</a>

											</li>
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/newly/newly-r30/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Newly&#174; R30</span>
												</a>

											</li>
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/newly/newly-u-rail/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Newly&#174; U-Rail</span>
												</a>

											</li>
											<li class="nav-item nav-item-sub">
												<a href="/cs-cz/dalš&#237;/newly/newly-дополнение/" class="hyp arrow-grey"
												   data-tracking-data="null"
												>
													<span>Newly&#174; doplňky</span>
												</a>

											</li>
										</ul>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/dalš&#237;/sety-vzorků/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>Sety vzorků</span>
										</a>

									</li>
								</ul>

							</li>
							<li class="nav-item nav-item-root">
								<a class="hyp-top-lvl has-children"
								   data-tracking-data="null"
								>
									<span>V&#253;prodej</span>
								</a>
								<ul class="nav-list nav-list-sub">
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/dalš&#237;/v&#253;prodej/v&#253;prodej-lišty/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>V&#253;prodej - lišty</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>V&#253;prodej - r&#225;my</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/dalš&#237;/v&#253;prodej/v&#253;prodej-v&#253;měnn&#233;-r&#225;my/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>V&#253;prodej - v&#253;měnn&#233; r&#225;my</span>
										</a>

									</li>
									<li class="nav-item nav-item-sub">
										<a href="/cs-cz/dalš&#237;/v&#253;prodej/v&#253;prodej-pasparty/" class="hyp arrow-grey"
										   data-tracking-data="null"
										>
											<span>V&#253;prodej - pasparty</span>
										</a>

									</li>
								</ul>

							</li>
							<li class="nav-item nav-item-root btn-cnt">
								<a href="/cs-cz/maptest" class="hyp-top-lvl"
								   data-tracking-data="null"
								>
									<span>Mapa r&#225;mařů</span>
								</a>

							</li>
						</ul>
					</div>
				</nav>



			</div>
		</div>
	</div>
</header>
