// ==========================================================================
//   MEDIA QUERY
// ==========================================================================
$tablet-width: 40em;    // 640px
$desktop-width: 64em;   // 1024px
$pixel: 0.0625em;       // 1px

@mixin media-phone {
    @media (max-width: #{$tablet-width - $pixel}) {
        @content;
    }
}

@mixin media-tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin media-desktop-under {
    @media (max-width: #{$desktop-width - $pixel}) {
        @content;
    }
}

@mixin media-desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
