// ==========================================================================
//   VARIABLES
// ==========================================================================

// UNIQID
$uniqeid : unique_id();
$ver : unique_id();

$clrPrimary: #A18839;

$clrWhite: #fff;

$footerBg: #27324c;
