// ==========================================================================
//   VARIABLES
// ==========================================================================

// UNIQID
$uniqeid : unique_id();
$ver : unique_id();

$clrPrimary: #0e3e82;
$clrSecondary: #0e0e0e;

$clrLight: #fff;
$clrGrey: #ccc;

$clrTxt: #585858;
$clrLinks: #0e3e82;
