{% extends "layout/default.twig" %}

{% set lang = 'cs' %}
{% set title = 'Homepage' %}
{% set ogDescription = '' %}
{% set ogImage = '' %}
{% set bodyClass = 'homepage' %}

{% block content %}
	<div class="site">

	</div><!-- /site -->

	{% include "partial/footer.twig" %}
	{% include "partial/footer-scripts.twig" %}
{% endblock %}
