{% extends "layout/default.twig" %}

{% set lang = 'cs' %}
{% set title = 'Homepage' %}
{% set ogDescription = '' %}
{% set ogImage = '' %}
{% set bodyClass = 'homepage' %}

{% block content %}
	<div class="site">
		{% include "partial/header.twig" %}

		<div class="content">
			<div id="flexiPage">
				<div class="flexi-row">
					<div class="html-wrapper fr-view">
						<div class="strip">
							<div class="strip__main">
								<div class="strip__txt">
									<p>Prohlížejte celý <strong>sortiment našich rámů</strong></p>
								</div>

								<div class="strip__cta">
									<a href="/content/files/LARSON-JUHL_Volume3-2022_web.pdf" class="strip__btn">
										<span class="strip__bdo">Stáhnout katalog</span>
									</a>
								</div>
							</div><!-- /strip__main -->
						</div><!-- /strip -->
					</div><!-- /html-wrapper -->
				</div><!-- / flexi-row -->

				<div class="flexi-row">
					<div class="html-wrapper fr-view">
						<div class="insta">
							<h2 style="text-align: center;">Z našeho Instagramu</h2>
							<br />
							<script src="https://apps.elfsight.com/p/platform.js" defer></script>
							<div class="elfsight-app-ce557a8a-e78d-4d17-8399-2527eda2bb23">
								<br />
							</div>
						</div><!-- / insta -->
					</div><!-- /html-wrapper -->
				</div><!-- / flexi-row -->
			</div><!-- /flexiPage -->
		</div><!-- /content -->

		{% include "partial/footer.twig" %}
	</div><!-- /site -->
	{% include "partial/footer-scripts.twig" %}
{% endblock %}
