{% extends "layout/default.twig" %}

{% set lang = 'cs' %}
{% set title = 'Rozcestník HTML šablon' %}
{% set ogDescription = '' %}
{% set ogImage = '' %}

{% block content %}
	<div class="site">
		{% include "partial/header.twig" %}

		<div style="height: 2000px;"></div>

	</div><!-- /site -->

	{% include "partial/footer.twig" %}
	{% include "partial/footer-scripts.twig" %}
{% endblock %}
